#clouds {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
  animation: FadeIn 3s ease-out;
  user-select: none;
}
@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.cloud {
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 20px;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-name: Float, FadeFloat;
  z-index: 1;
}
@keyframes Float {
  from {
    transform: translateX(100%) translateZ(0);
  }
  to {
    transform: translateX(-15%) translateZ(0);
  }
}
@keyframes FadeFloat {
  0%,
  100% {
    opacity: 0;
  }
  5%,
  90% {
    opacity: 1;
  }
}
.cloud:nth-child(13) {
  animation-delay: -154.61538462s;
  top: 85%;
  animation-duration: 80s;
  height: 12%;
}
.cloud:nth-child(12) {
  animation-delay: -168.61538462s;
  top: 76%;
  animation-duration: 80s;
  height: 12%;
}
.cloud:nth-child(11) {
  animation-delay: -199.61538462s;
  top: 67%;
  animation-duration: 80s;
  height: 12%;
}
.cloud:nth-child(10) {
  animation-delay: -184.61538462s;
  top: 60%;
  animation-duration: 80s;
  height: 12%;
}
.cloud:nth-child(9) {
  animation-delay: -166.15384615s;
  top: 54%;
  animation-duration: 84s;
  height: 12%;
}
.cloud:nth-child(8) {
  animation-delay: -147.69230769s;
  top: 48%;
  animation-duration: 88s;
  height: 12%;
}
.cloud:nth-child(7) {
  animation-delay: -129.23076923s;
  top: 42%;
  animation-duration: 92s;
  height: 12%;
}
.cloud:nth-child(6) {
  animation-delay: -110.76923077s;
  top: 36%;
  animation-duration: 96s;
  height: 12%;
}
.cloud:nth-child(5) {
  animation-delay: -92.30769231s;
  top: 30%;
  animation-duration: 100s;
  height: 12%;
}
.cloud:nth-child(4) {
  animation-delay: -73.84615385s;
  top: 24%;
  animation-duration: 104s;
  height: 12%;
}
.cloud:nth-child(3) {
  animation-delay: -55.38461538s;
  top: 18%;
  animation-duration: 108s;
  height: 12%;
}
.cloud:nth-child(2) {
  animation-delay: -36.92307692s;
  top: 12%;
  animation-duration: 112s;
  height: 12%;
}
.cloud:nth-child(1) {
  animation-delay: -18.46153846s;
  top: 6%;
  animation-duration: 116s;
  height: 12%;
}

#party {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
  animation: FadeIn 3s ease-out;
  user-select: none;
}

.emoji {
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 50px;
  overflow-y: visible;
}
