@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url(satoshi.css);

/* dark and light mode */

[data-theme="light"] {
    --color-bg: #ffffff;
    --color-fg: #111111;
    --color-p: #626262;
    --color-card-bg: #E9E9E9;
    --color-card-hv: #E0E0E0;
}

[data-theme="dark"] {
    --color-bg: #111111;
    --color-fg: #E9E9E9;
    --color-p: #909090;
    --color-card-bg: #222222;
    --color-card-hv: #2E2E2E;
}

/* General */

html {
    scroll-behavior: smooth;
}

html,
body {
    overflow-y: hidden;
    height: 100%;
    margin: 0px;
    cursor: default;
    background-color: var(--color-bg);
}

p {
    font-family: "Satoshi-Regular", sans-serif;
    font-size: 14px;
    color: var(--color-p);
    margin: 0;
    line-height: 1.25;
}

h1 {
    font-family: "Archivo Black", sans-serif;
    font-size: 43px;
    margin: 0;
}

h2 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    color: var(--color-fg);
}

h3 {
    font-family: "Satoshi-Bold", sans-serif;
    font-size: 15px;
    margin: 0;
    color: var(--color-fg);
}

h4 {
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    color: var(--color-fg);
}

ul {
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    list-style-type: none;
}

.box {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Navigation + title */

.navigation {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 15px;
}

#slogan {
    margin: 15px 0px 13px;
}

.ora-title {
    margin: 30px 0px 0px;
    height: fit-content;
    width: 100%;
    position: relative;
}

#time-logo {
    color: var(--color-bg);
    margin: 0;
    position: absolute;
    top: 60%;
    left: 53.5%;
    font-size: 1vw;

}

#ora-logo {
    margin: 0;
    width: 100%;
    cursor: pointer;
}

.nav-options {
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    padding: 13px 0px 26px;
    width: 100%;
}

.nav-left {
    flex: 0 1 900px;
    display: flex;
    gap: 4vw;
}

.nav-left > * {
    height: fit-content;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#about {
    flex: 0 0 50px;
}
#about:hover {
    color: var(--color-p);
}

#news {
    flex: 0 0 75px;
} 
#news:hover {
    color: var(--color-p);
}

#projects {
    display: flex;
    flex-wrap: wrap;
    max-width: 280px;
    column-gap: 6px;
    row-gap: 0;
}

.project:hover {
    color: var(--color-p);
}

#discover {
    flex: 0 0 auto;
    max-width: 250px;
}
#discover:hover {
    color: var(--color-p);
}

.nav-right {
    flex: 0 0 auto;
    display: flex;
    gap: 4vw;
}

.nav-right > * {
    cursor: pointer;
}

#contact {
    width: 70px;
}
#contact:hover {
    color: var(--color-p);
}

#archive:hover {
    color: var(--color-p);
}

#socials {
    margin: 0 2.8vw 0 0;
    padding: 0;
}
#socials > *:hover {
    color: var(--color-p);
}

/* Container: Widgets, Previews and People */

.div-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding: 0px 15px;
    height: 0vh;
    gap: 15px;
}

.card {
    background-color: var(--color-card-bg);
    padding: 12px 25px 20px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.c-big {
    padding: 23px 25px 26px 25px;
}

/* Widgets */

.widgets {
    flex: 0 0 250px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.widgets > * {
    height: fit-content;
}

.loc-widget {
    padding: 23px 17px 20px 17px;
}

.date-widget {
    gap: 0;
    padding: 33px 17px 20px 17px;
}

.cloud-party {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}
.cloud-party > * {
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    text-align: end;
    padding: 11px 12px;
    cursor: pointer;
}
.cloud-party > *:hover {
    background-color: var(--color-card-hv);
}

#cloud-toggle {
    flex: 1 1 0;
    display: flex;
    flex-direction: column-reverse;
    background-image: url(../images/clouds.png);
    color: var(--color-fg);
}

#party-toggle {
    flex: 1 1 0;
    display: flex;
    flex-direction: column-reverse;
    background-image: url(../images/emojis.png);
    color: var(--color-fg); 
}

#screen-toggle {
    height: 70px;
    display: flex;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    text-align: end;
    flex-direction: column-reverse;
    padding: 11px 12px;
    cursor: pointer;
    color: var(--color-bg); 
    background: var(--color-fg);
}


/* Previews */

.previews {
    flex: 0 0 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    padding-bottom: 15px;
}

.previews::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.previews > * {
    height: 108px;
    cursor: pointer;
}
.previews > *:hover {
    background-color: var(--color-card-hv);
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-pad {
    padding-left: 10px;
}

.card-body-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100%;
    overflow: hidden;
}

.card-body p {
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 3; 
    text-overflow: ellipsis;
}

.card-body img{
    width: 73.8px;
    height: auto;
    border-radius: 10px;
}


/* Body Content */

.body-content {
    flex: 1 1 700px;
    overflow: visible;
    overflow-y: scroll;
    -ms-overflow-style: none;   /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    padding-bottom: 15px;
}

.body-content::-webkit-scrollbar { 
    display: none; /* Safari and Chrome */ 
}

/* Page People (Home)*/

#page-people {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 50px 5.1vw 50px 4.5vw;
    column-gap: 4.8vw;
    row-gap: 110px;
}

.person {
    color: var(--color-bg);
    width: 5vw;
    height: 7vw;
    position: relative;
    cursor: pointer;
}
.person:hover {
    color: var(--color-p);
}

.person h1 {
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.person img {
    height: auto;
    position: relative;
    z-index: 0;
    top: 50%;
    left: 50%;
    margin: 0;
}

.person-1 {
    /* width: 180px; */
    width: 11.3vw;
    transform: translate(-28%, -40%);
}

.person-2 {
    /* width: 155px; */
    width: 9.5vw;
    transform: translate(-51%, -37%);
}

.person-3 {
    /* width: 140px; */
    width: 9.3vw;
    transform: translate(-49%, -39%);
}

.person-4 {
    /* width: 160px; */
    width: 10.5vw;
    transform: translate(-55%, -38%);
}

.person-5 {
    /* width: 180px; */
    width: 11.3vw;
    transform: translate(-48%, -32%);
}

/* Page Info */

.page-info {
    display: none;
    flex-direction: column;
    align-content: flex-start;
    gap: 15px;
    width: 100%;
}

.page-info h3 {
    font-size: 24px;
}

.info-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-row {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    align-items: stretch;
}

/* Page Project*/

.page-project {
    display: none;
    flex-direction: column;
    align-content: flex-start;
    gap: 15px;
    width: 100%;
}

.page-project h3 {
    font-size: 24px;
}

.p-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.p-row {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    align-items: stretch;
}

.card-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

/* Pages (general) */

.img-h-large {
    height: 440px;
}

.img-h-medium {
    height: 320px;
}

.img-h-small {
    height: 250px;
}

.img-w-large {
    width: 445px;
}

.img-w-medium {
    width: 380px;
}

.img-w-small {
    width: 320px;
}

.img-sp-1 {
    flex: 0 0 60%;
}

.img-sp-2 {
    flex: 0 0 57%;
}

.big-card-body {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100%;
}

/* Page Info ipad responsive*/

.ipad-only-1 {
    flex: 0 0 53%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    width: 100%;
}

.ipad-only-3 {
    flex: 0 0 66.66%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 100%;
    width: 100%;
}

#img-ord-1 {
    background-image: url(../images/estudiante-ladawards1.png);
}
#img-ord-2 {
    background-image: url(../images/estudiante-ladawards1.png);
}
#img-ord-3 {
    background-image: url(../images/orasolare1.png);
}
#img-ord-4 {
    background-image: url(../images/orasolare3.png);
}

/* Responsive scale */

/* 1470px and < */
@media(max-width: 1470px){
    #page-people {
        padding: 50px 5vw 50px 3vw;
        column-gap: 3.6vw;
        row-gap: 110px;
    }
}

/* 1280px and < */
@media(max-width: 1280px){
    .nav-left {
        gap: 3vw;
    }
    .nav-right {
        gap: 3vw;
    }
    #socials {
        margin: 0;
    }
    .widgets {
        flex: 0 1 250px;
    }
    .previews {
        flex: 0 1 400px;
    }
    #page-people {
        padding: 40px 3vw 40px 3vw;
        column-gap: 3.5vw;
        row-gap: 8vw;
    }
    #discover {
        max-width: 230px;
    }
    h1 {
        font-size: 3vw;
    }
}

/* 1003px and < */
@media(max-width: 1003px){
    h4 {
        font-size: 12px;
    }
    .info-row {
        flex-direction: column;
    }
    .ipad-only-1 {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
    .ipad-only-2 {
        flex-direction: row;
    }
    .ipad-only-3 {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
    .img-w-medium {
        height: 200px;
        width: 100%;
    }
    .img-w-small {
        height: 200px;
        width: 100%;
    }
    .img-sp-1 {
        flex: 0 0 auto;
    }
    #img-ord-1 {
        background-image: url(images/orasolare1.png);
    }
    #img-ord-2 {
        background-image: url(images/orasolare3.png);
    }
    #img-ord-3 {
        background-image: url(images/estudiante-ladawards1.png);
    }
    #img-ord-4 {
        background-image: url(images/miffy.png);
    }
}

/* Last written by Anna Maria Lewke, 30/04/2024 :) */