@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* General */

html,
body {
    overflow-y: hidden;
    height: 100%;
    margin: 0;
}

p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #626262;
    margin: 0;
}

h1 {
    font-family: "Archivo Black", sans-serif;
    font-size: 43px;
    margin: 0;
}

h2 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}

h3 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin: 0;
}

h4 {
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    margin: 0;
}

ul {
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    list-style-type: none;
}

.box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Navigation + title */

.navigation {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 15px;
}

#slogan {
    margin: 30px 0px 15px;
}

.ora-title {
    margin: 0;
    height: fit-content;
    width: 100%;
    position: relative;
}

#time {
    color: white;
    margin: 0;
    position: absolute;
    top: 62%;
    left: 14.7%;

}

#ora-logo {
    margin: 0;
    width: 100%;
}

.nav-options {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    width: 100%;
}

.nav-options > * {
    height: fit-content;
    margin: 0;
    padding: 0;
}

#news {
    max-width: 90px;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
    column-gap: 5px;
    row-gap: 0;
}

#discover {
    max-width: 250px;
}

#contact {
    max-width: 100px;
}

#socials {
    margin: 0px 50px 0px 0px;
}

/* Container: Widgets, Previews and People */

.div-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding: 0px 15px;
    height: 100%;
    gap: 15px;
}

.card {
    background-color: #E9E9E9;
    padding: 15px 12px;
    width: 20px;
    height: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Widgets */

.widgets {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.widgets > * {
    width: 240px;
    height: 70px;
}

.location {
    height: fit-content;
}

.cloud-party {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}
.cloud-party > * {
    flex: 1 1 auto;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.cloud-toggle {
    background-image: url(images/clouds.png);
}

.party-toggle {
    background-image: url(images/emojis.png);
}

/* Previews */

.previews {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.previews::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.previews > * {
    width: 360px;
    height: fit-content;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-pad {
    padding-left: 10px;
}

.card-body-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-body {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.card-body > img{
    width: 73.8px;
    height: auto;
    border-radius: 10px;
}

.blank {
    margin: 40% 0px;
}



/* People */

.people {
    flex: 1 1 auto;
    background-color: aqua;
}

