@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* General */

html,
body {
    overflow-y: hidden;
    height: 100%;
    margin: 0;
    cursor: default;
}

p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #626262;
    margin: 0;
}

h1 {
    font-family: "Archivo Black", sans-serif;
    font-size: 43px;
    margin: 0;
}

h2 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}

h3 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin: 0;
}

h4 {
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    margin: 0;
}

ul {
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    list-style-type: none;
}

.box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Navigation + title */

.navigation {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 15px;
}

#slogan {
    margin: 30px 0px 15px;
}

.ora-title {
    margin: 0;
    height: fit-content;
    width: 100%;
    position: relative;
}

#time-logo {
    color: white;
    margin: 0;
    position: absolute;
    top: 61%;
    left: 14.7%;

}

#ora-logo {
    margin: 0;
    width: 100%;
}

.nav-options {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    width: 100%;
}

.nav-options > * {
    height: fit-content;
    margin: 0;
    padding: 0;
}

#news {
    max-width: 90px;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
    column-gap: 5px;
    row-gap: 0;
}

#discover {
    max-width: 250px;
}

#contact {
    max-width: 100px;
}

#socials {
    margin: 0px 50px 0px 0px;
}

/* Container: Widgets, Previews and People */

.div-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding: 0px 15px;
    height: 100%;
    gap: 15px;
}

.card {
    background-color: #E9E9E9;
    padding: 15px 12px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Widgets */

.widgets {
    flex: 1 2 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.widgets > * {
    height: fit-content;
}
.date-widget {
    gap: 0;
}

.cloud-party {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}
.cloud-party > * {
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    text-align: end;
}

.cloud-toggle {
    flex: 1 1 0;
    display: flex;
    flex-direction: column-reverse;
    background-image: url(images/clouds.png);
}

.party-toggle {
    flex: 1 1 0;
    display: flex;
    flex-direction: column-reverse;
    background-image: url(images/emojis.png);
}

.screen-toggle {
    height: 70px;
    display: flex;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    text-align: end;
    flex-direction: column-reverse;
}

/* Previews */

.previews {
    flex: 1 2 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.previews::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.previews > * {
    height: 98px;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-pad {
    padding-left: 10px;
}

.card-body-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100%;
    overflow: hidden;
}

.card-body p {
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 3; 
    text-overflow: ellipsis;
}

.card-body > img{
    width: 73.8px;
    height: auto;
    border-radius: 10px;
}

.blank {
    margin: 40% 0px;
}

/* Body Content */

.body-content {
    flex: 1 1 700px;
    overflow: visible;
    overflow-y: scroll;
    -ms-overflow-style: none;   /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.body-content::-webkit-scrollbar { 
    display: none; /* Safari and Chrome */ 
}

/* People (Home) Page*/

#page-people {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 50px;
    column-gap: 40px;
    row-gap: 110px;
}

.person {
    color: #E9E9E9;
    width: 100px;
    height: 100px;
    position: relative;
}

.person > h1 {
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.person img {
    height: auto;
    position: relative;
    z-index: 0;
    top: 50%;
    left: 50%;
    margin: 0;
}

.person-1 {
    width: 180px;
    transform: translate(-28%, -40%);
}

.person-2 {
    width: 155px;
    transform: translate(-50%, -36%);
}

.person-3 {
    width: 140px;
    transform: translate(-45%, -39%);
}

.person-4 {
    width: 160px;
    transform: translate(-55%, -38%);
}

.person-5 {
    width: 180px;
    transform: translate(-48%, -32%);
}

/* About Page */

#page-about {
    display: none;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 50px;
    column-gap: 40px;
    row-gap: 110px;
}
#page-about h3 {
    font-size: 24px;
}